.game-table-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  .game-state {
    font-family: sans-serif;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.2rem;
    margin: 1rem;
    text-align: center;
    &:empty {
      visibility: hidden;
    }
  }
}
